.typingdots {
  height: 4rem;
  width: 7.5rem;
  background-color: rgba(206, 206, 206, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
}

.typingdots span {
  width: 1.2rem;
  height: 1.2rem;
  margin: 0 2px;
  background-color: rgb(20, 19, 19);
  border-radius: 60%;
  display: inline-block;
  animation-name: dots;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

.typingdots span:nth-child(2) {
  animation-delay: 0.2s;
}

.typingdots span:nth-child(3) {
  animation-delay: 0.4s;
}

@keyframes dots {
  50% {
    opacity: 0;
    transform: translateY(10px) scale(1);
  }
}
